.player__container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px 4px;
}

.player__name {
  padding: 0rem 10px;
  display: flex;
  justify-content: space-between;
}

.player__image {
  max-height: 300px;
  min-width: 300px;
  object-fit: fill;
}

.player__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player__info h3 {
  margin-block-start: 0.3em !important;
  margin-block-end: 0.3em !important;
}

.match__date {
  font-size: 15px;
  padding-bottom: 10px;
}

.skill__badge {
  background: rebeccapurple;
  color: white;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: bold;
}

.match__container {
  background: rebeccapurple;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 5px;
}
